header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: url("WEB_INF/img/ptrbackground.jpg");
	background-repeat: repeat-x;
	background-color: #00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 80%;
	min-width: 600px;
	margin: auto;
	background-color: #3399CC;
}

header {
	background-image: url("WEB_INF/img/sunset.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-color: #000033;
	color: white;
}

nav {
	background-color: #3399CC;
	width: 200px;
	float: left;
}
nav ul {
	font-size: 1.2em;
	color: #000033;
	display: block;
	list-style: none;
	padding: 20px;
}
nav a {
	text-decoration: none;
	font-style: bold;
	color: #000033;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#content {
	background-color: white;
	margin-left: 200px;
	padding-top: 1px;
	padding-left: 30px;
}

img {
	float: left;
	padding-right: 30px;
}

#content ul {
	list-style-image: url("WEB_INF/img/marker.gif");
	list-style-position: inside;
}

.resort {
	font-weight: bold;
	color: #666666;
}

#contact {
	font-size: 90%;
}

footer {
	font-style: italic;
	background-color: white;
	font-family: Georgia, "Times New Roman", serif;
	margin-left: 200px;
	padding-left: 15px;
	padding-bottom: 30px;
}
