/* Container for the entire body */
.container {
    width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
}

#scoreBoard {
    padding: 25px;
    margin: auto;
}

#scoreBoard td {
    width: 140px;
}

#buttonRow {
    text-align: center;
}

#scrabbleBoard {
    margin: auto;
}

#scrabbleBoard td {
    min-width: 40px;
    width: 40px;

    min-height: 40px;
    height: 40px;

    border: solid 1px;
}

.doubleLetter {
    background-color: #4292f4; /* Light Blue */
}

.tripleLetter {
    background-color: blue;
}

.doubleWord {
    background-color: #f45042; /* Pink */
}

.tripleWord {
    background-color: red;
}

.start {
    background-color: yellow;
}

.tile {
    min-width: 35px;
    width: 35px;

    min-height: 35px;
    height: 35px;

    padding: 0px;
}

#scrabbleRack {
    margin: auto;
}

#scrabbleRack td {
    background-color: brown;
    border: solid 1px;

    min-height: 35px;
    height: 35px;

    min-width: 35px;
    width: 35px;
}

#scrabbleKey {
    margin: auto;
}

#scrabbleKey td {
    height: 30px;
    width: 50px;
    text-align: center;
    border: solid 1px;
}


